@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Welcome, @ViewData["Username"]!</p>
    <p>Your role is: @ViewData["Role"]</p>
    <p>Your id is: @ViewData["Id"]</p>
</div>
